/* Sen */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Light Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 16px;
}

.container {
    padding: 0px 45px;
}

.natural-btn {
    color: #232536;
    background-color: #FFD050;
    border: none;
    padding: 15px 40px;
    font-weight: 700;
    font-family: "Sen", sans-serif;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.natural-btn:hover {
    background-color:#e3ba47;
}

/* End of Styles */

/* Navbar */

header {
    background-color: #232536;
    color: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: relative;
}

.nav-logo p {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu li {
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    transition: border 0.5s ease-in;
}

.nav-menu a:hover {
    border-bottom: 1px solid #fff;
}

.nav-menu .nav-button {
    padding: 15px 25px;
    background-color: #fff;
    color: #232536;
    font-weight: bold;
    transition: background-color ease;
}

.nav-button:hover {
    background-color: #ececec;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
}

/* End of Nav */

/* Home Section */

.home-section {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.8) 100%),
        url('/images/homepage image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.home-subheading h3 {
    all: unset;
    font-size: 1.5rem;
}

.home-subheading {
    margin-bottom: 20px;
}

.home-title {
    width: 70%;
    margin-bottom: 30px;
}

.home-subtext {
    margin-bottom: 20px;
}

.yellow-text {
    color: #FFD050;
}

.home-description {
    width: 55%;
    margin-bottom: 40px;
}

/* End of Home Section */


/* Features Section */
.featured-posts-section {
    margin-top: 150px;
    padding: 20px;
}

.featured-posts-section .container {
    display: flex;
    gap: 20px;
    height: 100%;
}


.featured-post-card {
    padding: 20px;
    width: 80%;
    height: 100%;
}

/* Featured Post Part */
.featured-title {
    margin-bottom: 40px;
}

.featured-post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.featured-post-content {
    margin-top: 20px;
    width: 100%;
}

.post-meta {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 15px;
}

.post-meta .author {
    color: #592EA9;
}

.post-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}

.post-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.all-posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all-link {
    font-size: 0.9rem;
    color: #592EA9;
    text-decoration: none;
    font-weight: bold;
    transition: border 0.3s ease;
}

.view-all-link:hover {
    border-bottom: 1px solid #482589;
}

.all-posts-list {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-item {
    padding: 15px;
}

.post-item h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}

.post-item.highlighted {
    background-color: #fff7e6;
}

/* End of Features Section */

/* About Mission Section */
.about-mission-section {
    padding: 60px 0;
    position: relative;
    margin-top: 150px;
}

.about-mission-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #F4F0F8;
    z-index: 0;
}

.about-mission-wrapper::before {
    content: '';
    position: absolute;
    top: 8.4%;
    left: 18.5%;
    width: 78%;
    height: 15px;
    background: linear-gradient(to right, #f1c40f 70%, #592ea9 40%);
    z-index: 1;
}

.about-us {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.our-mission {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.about-subtitle,
.mission-subtitle {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 0.05em;
}

.about-heading {
    font-size: 1.84rem;
    color: #232323;
    margin-bottom: 16px;
    line-height: 1.3;
    width: 90%;
}

.about-text {
    font-size: 1rem;
    color: #6b6b6b;
    margin-bottom: 30px;
    line-height: 1.6;
}

.mission-heading {
    font-size: 1.6em;
    width: 80%;
    margin-bottom: 12px;
}

.mission-text {
    font-size: 0.93rem;
    color: #6b6b6b;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta-link {
    font-size: 1rem;
    color: #6b2fc7;
    text-decoration: none;
}

.cta-link:hover {
    text-decoration: underline;
}

/* End of About Mission Section */

/* Categories Section */

.categories-intro-section {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
    font-family: "Sen", sans-serif;
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #232323;
    margin-bottom: 40px;
}

.categories-heading {
    margin-bottom: 40px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: start;
}

.category-card {
    background-color: #fff;
    border: 1px solid #ababab;
    padding: 30px;
    text-align: left;
}

.category-card.highlighted {
    background-color: #f1c40f;
    border: none;
    color: #ffffff;
}

.category-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    background-color: #fbf6ea;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-icon img {
    object-fit: cover;
}

.category-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #232323;
    margin-bottom: 10px;
}

.category-card.highlighted .category-title {
    color: #232323;
}

.category-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}

.category-card.highlighted .category-description {
    color: #666;
}

/* End of Category Section */

/* Start of Why we started */
.why-we-started-section {
    background-color: #fff;
    padding: 60px 20px;
    position: relative;
}

.why-we-started-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
}

.why-image {
    width: 80%;
}

.why-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.why-content {
    flex: 1;
    background-color: #fff;
    padding: 90px 0px 110px 100px;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-100.50%);
    width: 50%;
    z-index: 2;
}

.why-subtitle {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #6b6b6b;
    margin-bottom: 20px;
}

.why-heading {
    width: 95%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #232323;
    margin-bottom: 20px;
    line-height: 1.3;
}

.why-text {
    font-size: 1rem;
    color: #6b6b6b;
    margin-bottom: 40px;
    line-height: 1.6;
}

.cta-btn {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #f1c40f;
    padding: 15px 30px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #d1a90f;
}

/* End of Why We Started */

/* Authors Section */
.authors-section {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #232323;
    margin-bottom: 40px;
}

.authors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.author-card {
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
}

.author-card.highlighted {
    background-color: #fff7e6;
}

.author-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.author-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #232323;
    margin-bottom: 10px;
}

.author-role {
    font-size: 0.9rem;
    color: #6b6b6b;
    margin-bottom: 20px;
}

.author-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.author-socials a {
    color: #6b6b6b;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.author-socials a:hover {
    color: #232323;
}

/* End of Authors Section */

/* Featured In Section */
.featured-in-section {
    overflow: hidden;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.featured-logos-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.featured-logos {
    display: flex;
    gap: 30px;
    animation: scroll-logos 30s linear infinite;
    /* Animation for scrolling */
}

.featured-heading {
    margin-bottom: 50px;
}

.featured-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #2d2e40;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.featured-logos img {
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.featured-logos img:hover {
    transform: scale(1.1);
}

/* Keyframes for scrolling animation */
@keyframes scroll-logos {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* End of Authors Section */

/* Testimonials Section */
.testimonials-section {
    margin-top: 100px;
    background-color: #fdf7eb;
    padding: 80px 50px;
    font-family: "Sen", sans-serif;
}

.testimonials-section .container {
    display: flex;
    gap: 20%;
}

.testimonial-text {
    width: 80%;
}

.testimonial-subtitle {
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.testimonial-heading {
    margin-bottom: 20px;
}

.testimonial-description {
    line-height: 25px;
    font-weight: 500;
}

/* Right Testimonial */
.testimonial-content {
    border-left: 1px solid;
    border-color: #23232362;
    padding-left: 50px;
}

.testimonial-quote {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 100px;
    line-height: 2rem;
    width: 90%;
}

.testimonial-wrapper {
    display: flex;
    gap: 20%;
}

.testimonial-author {
    display: flex;
    align-items: center;
}

.testright-wrapper {
    margin-left: 15px;
    line-height: 25px;
}

.testauthor-name {
    font-weight: 700;
    font-size: 20px;
}

.testauthor-location {
    color: #666;
    font-size: 16px;
}

.testimonial-controls {
    display: flex;
    gap: 20px;
}

.control-btn {
    padding: 10px 15px;
    color: #232536;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.control-btn:hover {
    color: #fff;
    background-color: #2d2e40;
}

/* End of Testimonials */

/* Start of Join Team Section */
.join-team-section {
    background-color: #ffffff;
    text-align: center;
    padding: 80px 20px;
}

.join-team-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.join-team-heading {
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
    color: #232323;
    margin-bottom: 25px;
    width: 60%;
}

.join-team-text {
    font-size: 1rem;
    color: #6b6b6b;
    width: 55%;
    margin: 0 auto 50px auto;
}

/* End of Join Team Section */

/* Start of Footer */

.site-footer {
    background-color: #232536;
    color: #ffffff;
    padding: 60px 20px;
}

.site-footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-logo p {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.footer-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-menu a:hover {
    border-bottom: 1px solid #ffffff;
}

.footer-middle {
    display: flex;
    text-align: left;
    justify-content: space-around;
    background-color: #2d2e40;
    padding: 80px 20px 80px 20px;
}

.footer-heading {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
    width: 40%;
    display: flex;
    align-items: center;
}

.subscribe-form {
    display: inline;
}

.subscribe-form input {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    color: #ffffff;
    max-width: 400px;
    margin-right: 20px;
}

.subscribe-form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-address {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.fsocials-icons {
    color: white;
}

.mobile-footer-middle {
    display: none;
}

.mobile-footer-menu {
    display: none;
}

/* END OF MAIN CSS */

/* START OF MOBILE MEDIA QUESIESSSS */

/* Normal Styles */
@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    header {
        padding: 0 20px;
    }
}

/* Navigation */

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #232536;
        border-radius: 5px;
        z-index: 101;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 37, 54, 0.9);
        padding: 50px 20px;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 100;
    }

    .nav-menu.active {
        display: flex;
        transform: translateY(0);
    }


    body.menu-active {
        overflow: hidden;
    }

    .nav-menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .nav-menu ul li {
        font-size: 20px;
        font-weight: bold;
    }

    .nav-menu ul li a {
        color: #ffffff;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    .nav-menu ul li a:hover {
        color: #ffffff;
    }

    .nav-button {
        margin-top: 30px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: #232536;
        font-weight: bold;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    .nav-button:hover {
        background-color: #e09e05;
    }
}

/* End of Nav */

/* Home Media */

@media (max-width:768px) {
    .home-section {
        text-align: center;
    }

    .home-title {
        width: 100%;
    }

    .home-description {
        width: 100%;
    }

    .home-section {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.8) 100%), url('/images/homepage image.png');
        background-position: 40%;
        height: 120vh;
    }

}

/* Featured Post */

@media (max-width: 768px) {
    .featured-posts-section {
        margin-top: 100px;
    }

    .featured-post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .featured-post-card {
        width: 100%;
    }

    .all-posts {
        display: none;
    }
}

/* About Us */

@media (max-width:768px) {
    .about-mission-section {
        margin-top: 100px;
    }

    .about-mission-wrapper::before {
        top: 3.4%;
        left: 22%;
    }
}

/* Why we Started */

@media (max-width: 768px) {

    .why-image {
        width: 100%;
    }

    .why-we-started-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0;
    }

    .why-content {
        padding: 0;
        width: 100%;
        transform: none;
        margin: 0 auto;
        position: static;
        text-align: center;
        margin-top: 50px;
    }

    .why-heading {
        font-size: 2rem;
    }
}

/* Featured In */
@media (max-width:768px) {

    .featured-in-section {
        margin: 0;
    }

    .featured-heading {
        display: none;
    }
}

/* Testimonals */

@media (max-width:768px) {
    .testimonials-section {
        margin-top: 50px
    }

    .testimonials-section .container {
        flex-direction: column;
        gap: 20px;
    }

    .testimonial-content {
        border-left: none;
        padding-left: 0;
    }

    .testimonial-wrapper {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .testimonial-quote {
        margin-bottom: 20px;
        width: 100%;
    }

    .testimonial-description {
        display: none;
    }

    .testimonial-text {
        width: 100%;
    }

    .testimonial-subtitle {
        font-size: 20px;
    }

    .testimonial-heading {
        font-size: 25px;
    }

    .testimonial-quote {
        font-weight: 500;
        font-size: 20px;
    }

    .testimonial-author {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .author-photo {
        height: 50px;
    }
}

/* Join Team */

@media (max-width: 768px) {
    .join-team-section .container {
        max-width: none;
        margin: 0;
    }

    .join-team-section {
        padding: 0;
        margin-top: 100px;
    }

    .join-team-heading {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .join-team-text {
        width: 90%;
        margin-bottom: 40px;
    }
}

/* Footer */
@media (max-width: 768px) {

    .mobile-footer-menu {
        display: flex;
    }

    .footer-menu {
        display: none;
    }

    .footer-menu-styles ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .footer-menu-styles a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1rem;
    }

    .mobile-footer-middle {
        display: flex;
        flex-direction: column;
    }

    .mobile-footer-heading {
        margin-bottom: 25px;
    }

    .footer-middle {
        display: none;
    }

    .site-footer {
        margin-top: 100px;
        padding: 60px 0;
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .footer-heading {
        width: 100%;
    }

    .subscribe-input {
        margin-bottom: 20px;
    }

    .footer-top {
        all: unset;
        padding: 0 20px;
    }

    .mobile-footer-middle {
        padding: 0 20px;
    }

    .footer-bottom {
        padding: 0 20px;
    }

}

/* End of Footer */
